.main {
  background: #ffffff;
  padding: 30px;
  margin: 50px auto;
  max-width: 450px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type='submit'] {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.15s;
}

.tarefas li:hover {
  background-color: #51c5de;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: black;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 0.2s;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
